body{
    background-color: black;
}

div{
    text-align: center;
    color: white;
    width: 50%;
    margin-left: 25%;
    padding: 50px;
}

img{
    border: 5px solid white;
    width: 100%;
}

h1{
    text-transform: capitalize;
}

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    font-style: normal;
}